# Declaração de Variáveis

In [5]:
a = "Eric"

In [6]:
print(type(a))

<class 'str'>

Variável do tipo Lista

In [1]:
lista = [1,"a",3,"b",5]

In [2]:
print(lista)

[1, 'a', 3, 'b', 5]

In [3]:
print(lista[1])

a

#Tomar cuidado com o erro abaixo, é muito comum, possívelmente arquivo pode estar vazio, caso esteja lendo algum.

In [4]:
print(lista[8])

IndexError: list index out of range

Variável do tipo Dicionário

In [16]:
dicionario = {"Nome":"Eric","Idade":31}

In [17]:
print(dicionario)

{'Nome': 'Eric', 'Idade': 31}

In [19]:
print(dicionario["Nome"])

Eric

In [20]:
print(dicionario["Idade"])

31

Variável do tipo Tupla

In [37]:
tupla = (1, 2, 3, 4)

In [38]:
print(tupla)

(1, 2, 3, 4)

#Criando uma lista vazia

In [21]:
lstPessoas = []

#Criando um dicionário

In [23]:
dictPepessoa = {"Nome":"Willian", "Idade":26, "Estado":"São Paulo"}

#Adicionando mais um indice no dicionário

In [27]:
dictPepessoa = {"Nome":"Nemesis", "Idade":99, "Estado":"Raccoon City"}

#Adicionando mais um indice no dicionário

In [30]:
dictPepessoa = {"Nome":"Marcilia", "Idade":25, "Estado":"São Paulo"}

In [31]:
lstPessoas.append(dictPepessoa)

In [42]:
print(lstPessoas)

[{'Nome': 'Willian', 'Idade': 26, 'Estado': 'São Paulo'}, {'Nome': 'Nemesis', 'Idade': 99, 'Estado': 'Raccoon City'}, {'Nome': 'Marcilia', 'Idade': 25, 'Estado': 'São Paulo'}]

In [57]:
for pessoa in lstPessoas:
    if pessoa["Idade"] <= 26:
        print("Menor de 26 -> Nome: {}, Idade: {}, Estado: {}".format(pessoa["Nome"],pessoa["Idade"],pessoa["Estado"]))
    else:
        print("MAIOR de 26 -> Nome: {}, Idade: {}, Estado: {}".format(pessoa["Nome"],pessoa["Idade"],pessoa["Estado"]))

Menor de 26 -> Nome: Willian, Idade: 26, Estado: São Paulo
MAIOR de 26 -> Nome: Nemesis, Idade: 99, Estado: Raccoon City
Menor de 26 -> Nome: Marcilia, Idade: 25, Estado: São Paulo

In [59]:
numero = 100
if numero == 1:
    print("Igual 1")
elif numero == 2:
    print("Igual 2")
elif numero == 3:
    print("Igual 3")
elif numero == 10:
    print("Igual 10")    
else:
    print("Não achou")

Não achou

In [63]:
numero = 10

In [67]:
if numero == 100 or numero == 10:
    print("certo")

certo

# Exercicio

In [1]:
lstPessoas2 = []

In [2]:
dictPepessoa2 = {"Nome":"Carlos Schimidt", "Altura":185, "Cidade":"São Paulo", "Idade":28, "Estado Civil":"Casado"}

In [3]:
lstPessoas2.append(dictPepessoa2)

In [4]:
dictPepessoa2 = {"Nome":"Xovana", "Altura":170, "Cidade":"Rio Claro", "Idade":37, "Estado Civil":"Solteira"}

In [5]:
lstPessoas2.append(dictPepessoa2)

In [6]:
dictPepessoa2 = {"Nome":"Chiquinho", "Altura":165, "Cidade":"Rio de Janeiro", "Idade":30, "Estado Civil":"Casado"}

In [7]:
lstPessoas2.append(dictPepessoa2)

In [8]:
dictPepessoa2 = {"Nome":"Menotti", "Altura":180, "Cidade":"Goias", "Idade":35, "Estado Civil":"Solteiro"}

In [9]:
lstPessoas2.append(dictPepessoa2)

In [10]:
dictPepessoa2 = {"Nome":"Thiago", "Altura":183, "Cidade":"São Paulo", "Idade":22, "Estado Civil":"Solteiro"}

In [11]:
lstPessoas2.append(dictPepessoa2)

In [52]:
lstPessoas2

[{'Nome': 'Carlos Schimidt',
  'Altura': 185,
  'Cidade': 'São Paulo',
  'Idade': 28,
  'Estado Civil': 'Casado'},
 {'Nome': 'Xovana',
  'Altura': 170,
  'Cidade': 'Rio Claro',
  'Idade': 37,
  'Estado Civil': 'Solteira'},
 {'Nome': 'Chiquinho',
  'Altura': 165,
  'Cidade': 'Rio de Janeiro',
  'Idade': 30,
  'Estado Civil': 'Casado'},
 {'Nome': 'Menotti',
  'Altura': 180,
  'Cidade': 'Goias',
  'Idade': 35,
  'Estado Civil': 'Solteiro'},
 {'Nome': 'Thiago',
  'Altura': 183,
  'Cidade': 'São Paulo',
  'Idade': 22,
  'Estado Civil': 'Solteiro'}]

In [73]:
count = 0
listIdade = []
listAltura = []
listSolteiro = []
listCasado = []
for pessoa in lstPessoas2:
    if pessoa["Idade"] > 30:
        listIdade.append(pessoa)
    if pessoa["Altura"] > 180:
        listAltura.append(pessoa)
    if pessoa["Cidade"].upper() == "SÃO PAULO":
        count +=1
    if pessoa["Estado Civil"].upper().startswith("SOLTEIR"):
        listSolteiro.append(pessoa)
    else:
         listCasado.append(pessoa)
print("Pessoas com mais de 30 anos: {}".format(listIdade)) 
print("--------------------------------------")
print("--------------------------------------")
print("--------------------------------------")
print("Pessoas acima de 180 de Altura: {}".format(listAltura))   
print("--------------------------------------")
print("--------------------------------------")
print("--------------------------------------")
print("Quantidade de Pessoas em São Paulo: {}".format(count))
print("--------------------------------------")
print("--------------------------------------")
print("--------------------------------------")
print("Pessoas Solteiras: {}".format(listSolteiro))
print("--------------------------------------")
print("--------------------------------------")
print("--------------------------------------")
print("Pessoas Casadas: {}".format(listCasado))

Pessoas com mais de 30 anos: [{'Nome': 'Xovana', 'Altura': 170, 'Cidade': 'Rio Claro', 'Idade': 37, 'Estado Civil': 'Solteira'}, {'Nome': 'Menotti', 'Altura': 180, 'Cidade': 'Goias', 'Idade': 35, 'Estado Civil': 'Solteiro'}]
--------------------------------------
--------------------------------------
--------------------------------------
Pessoas acima de 180 de Altura: [{'Nome': 'Carlos Schimidt', 'Altura': 185, 'Cidade': 'São Paulo', 'Idade': 28, 'Estado Civil': 'Casado'}, {'Nome': 'Thiago', 'Altura': 183, 'Cidade': 'São Paulo', 'Idade': 22, 'Estado Civil': 'Solteiro'}]
--------------------------------------
--------------------------------------
--------------------------------------
Quantidade de Pessoas em São Paulo: 2
--------------------------------------
--------------------------------------
--------------------------------------
Pessoas Solteiras: [{'Nome': 'Xovana', 'Altura': 170, 'Cidade': 'Rio Claro', 'Idade': 37, 'Estado Civil': 'Solteira'}, {'Nome': 'Menotti', 'Altura': 180, 'Cidade': 'Goias', 'Idade': 35, 'Estado Civil': 'Solteiro'}, {'Nome': 'Thiago', 'Altura': 183, 'Cidade': 'São Paulo', 'Idade': 22, 'Estado Civil': 'Solteiro'}]
--------------------------------------
--------------------------------------
--------------------------------------
Pessoas Casadas: [{'Nome': 'Carlos Schimidt', 'Altura': 185, 'Cidade': 'São Paulo', 'Idade': 28, 'Estado Civil': 'Casado'}, {'Nome': 'Chiquinho', 'Altura': 165, 'Cidade': 'Rio de Janeiro', 'Idade': 30, 'Estado Civil': 'Casado'}]